<% @movie_list.each do |movie| %>
  <section class="movie">
    <div class="summary">
      <h2>
        <%= movie.title %>
      </h2>
      <h3>
        <%= performance(movie) %>
      </h3>
      <p>
        <%= description(movie) %>
      </p>
    </div>
  </section>
<% end %>
